rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Rules for testimony pictures
    match /testimony-pictures/{userId}/{fileName} {
      // Anyone can read public testimony pictures.
      allow read: if true;

      // An authenticated user can upload a picture to their own folder.
      // We also add security checks for file size (max 5MB) and type (image).
      allow write: if request.auth != null && request.auth.uid == userId
                   && request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}
